/* @import url('https://fonts.cdnfonts.com/css/aquatico');
@import url('https://fonts.cdnfonts.com/css/nordic');
@import url('https://fonts.cdnfonts.com/css/aquire'); */
@font-face{
    font-family:aquatico;
    font-style:normal;
    font-weight:400;
    src:local('Aquatico'),
    url('../assets/Aquatico-Regular.woff') format('woff')
}
.aLink {
    text-decoration: none;
    color: white;
  }
  .site-header { 
    z-index: 200;
    padding: .5em 1em;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    font-family: 'Aquatico', sans-serif;
  }
  
  .site-navigation{
    margin-left: 800px;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 5px; 
    font-family: 'Aquatico', sans-serif;
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }
  