html,
body {
  padding: 0;
  margin: 0;
  /* background: #171717; */
  /* background-color: #24292edc; */
  
}

.element {
  height: 1080px;
  background-color: #ededed;
  font-size: 45px;
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
}

.active {
  color: red !important;
}

.parallax_cont{
  margin-left: 70px;
  margin-top: 50px;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  /* overflow: hidden; */
}

