html,
body {
  padding: 0;
  margin: 0;
  height: 200vh;
  background: #000;
}

.element {
  height: 1080px;
  background-color: #ededed;
  font-size: 45px;
  border-top: 1px solid #000;
  padding-top: 55px;
  padding-left: 10px;
}

.element.no-padding {
  padding-top: 0;
}

.active {
  color: red !important;
}

